body
{
    overflow-x: hidden;
    margin: 0;
}
header
{
    background-color: black;
    padding-bottom: 15px;
}
#headerh1
{
    padding: 15px 10px 0 0;
    margin-top: 0;
    text-align: center;
    color: white;
}
#headerhr
{
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid white;
}